*{
    padding: 0;
    margin: 0;
}

body{
    background: red;
}

.row{
    object-fit: cover;
    background-image: url("https://cdn.pixabay.com/photo/2015/09/09/19/56/office-932926_1280.jpg");
    color: teal;
    height: 100vh;
}

.container{
    max-width: 1400px;
}
