@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }

.row{
    width: 1400px;
    text-align: center;
}

.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

p{
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}

  .row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

/*--------------------------------------------------------*/
/*Header*/
header{
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 6;
    transition: .6s;
}

header.sticky{ 
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.096), 0 6px 20px 0 rgba(0, 0, 0, 0.116);
}

header .col-12{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header h1{
    font-size: 40px;
    font-weight: 900;
    transition: .6s;
}

header.sticky h1{
    font-size: 35px;
}

header span{
    color: rgb(0, 224, 224);
}

header ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header li{
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
}

/*Seção 01*/
.cont-01{
    background-image: url(/image/capa-home2.png);
    background-position: center;
    background-size: cover;
    height: 90vh;
}

.cont-01 .title{
    font-size: 80px;
    font-weight: 900;
    line-height: 80px;
    background-color: aqua;
}

.cont-01 .subtitle{
    font-size: 35px;
    line-height: 60px;
}

.cont-01 p{
    padding: 20px 20% 0;
}

.cont-01 .bt-left{
    display: flex;
    justify-content: flex-end;
}

.cont-01 .bt-right{
    display: flex;
    justify-content: flex-start;
}

button.portfolio{
    background-color: aqua;
    border: none;
    padding: 15px 80px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

button.contato{
    background-color: transparent;
    border: 2px solid aqua;
    padding: 15px 80px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.cont-01 .col-main .fab{
    font-size: 4em;
    margin: 10px;
}


/*Seção 02*/
.cont-02{
    height: 70vh;
}
.cont-02 .col-6{
    position: relative;
    text-align: left;
}

.cont-02 .col-6 h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 20px;
}

.cont-02 p{
    margin-bottom: 20px;
}

.cont-02 img{
    height: 500px;
    position: absolute;
    top: -50px;
    transform: scale(1.2);
}

.cont-02 .content{
    background-color: rgb(255, 255, 255);
    padding: 50px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.096), 0 6px 20px 0 rgba(0, 0, 0, 0.116);
    z-index: 5;
}
